main {
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    margin: 1em .5em 1em .5em
}

.alert-info{
    display: flex;
    background-color: lightblue;
    text-decoration: none;
    justify-content: center;
    padding: 1em;
    font-weight: bold;
    width: 100%;
}

.alert-info a{
    display: flex;
    text-decoration: none;
    color: black;

}

h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}


.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

li {
    list-style-type: none;
    margin: .5em 0;
}

ul {
    padding-left: 0;
}

li a{
    display: inline-block;
    background: lightgray;
    padding: 1em;
    width: 100%;
    text-align: center;
}